CAST

In [1]:
import pandas as pd

# Load CSV file into a DataFrame
df = pd.read_csv(r"C:\Users\ADMIN\Desktop\SJSU\SEM1\DB Analytics\Moviedataset\Cast1.csv")
df.head()

      id                                               cast
0    862  [{'cast_id': 14, 'character': 'Woody (voice)',...
1   8844  [{'cast_id': 1, 'character': 'Alan Parrish', '...
2  15602  [{'cast_id': 2, 'character': 'Max Goldman', 'c...
3  31357  [{'cast_id': 1, 'character': "Savannah 'Vannah...
4  11862  [{'cast_id': 1, 'character': 'George Banks', '...

In [10]:
df['cast'].head()

0    [{'cast_id': 14, 'character': 'Woody (voice)',...
1    [{'cast_id': 1, 'character': 'Alan Parrish', '...
2    [{'cast_id': 2, 'character': 'Max Goldman', 'c...
3    [{'cast_id': 1, 'character': "Savannah 'Vannah...
4    [{'cast_id': 1, 'character': 'George Banks', '...
Name: cast, dtype: object

In [12]:

# Function to extract values from JSON formatted column for cast column
def extract_values_cast(json_str):
    try:
        data_list = ast.literal_eval(json_str)
        #df['cast'] = df['cast'].apply(ast.literal_eval)
        cast_id_list = [item['cast_id'] for item in data_list]
        character_list = [item['character'] for item in data_list]
        credit_id_list = [item['credit_id'] for item in data_list]
        gender_list = [item['gender'] for item in data_list]
        cast_cast_id_list = [item['id'] for item in data_list]
        name_list = [item['name'] for item in data_list]
        order_list = [item['order'] for item in data_list]
        profile_path_list = [item['profile_path'] for item in data_list]
        return ','.join(map(str, cast_id_list)), ','.join(map(str, character_list)), ','.join(map(str, credit_id_list)), ','.join(map(str, gender_list)), ','.join(map(str, cast_cast_id_list)), ','.join(map(str, name_list)), ','.join(map(str, order_list)), ','.join(map(str, profile_path_list))

    except:
        return None, None,None,None,None,None,None,None

# Apply the function to each row of the DataFrame
df[['cast_id_values', 'cast_char_values', 'cast_credit_id_values', 'cast_gender', 'cast_cast_id', 'cast_name_values', 'cast_order', 'cast_profile_path']]= df['cast'].apply(lambda x: pd.Series(extract_values_cast(x))) #if x else pd.Series([None] * 8))

# Drop the original JSON formatted column
df.drop(columns=['cast'], inplace=True)


# Write the DataFrame to a new CSV file
df.to_csv(r'C:\Users\ADMIN\Desktop\SJSU\SEM1\DB Analytics\Moviedataset\cast2.csv', index=False)

In [7]:
import pandas as pd
import numpy as np

# Read the CSV file
df = pd.read_csv(r'C:\Users\ADMIN\Desktop\SJSU\SEM1\DB Analytics\Moviedataset\cast2.csv')

# Function to split values in a cell and create new rows
def split_values(row):
    id_val = row['id']
    cast_id_values = str(row['cast_id_values']).split(',') if not pd.isnull(row['cast_id_values']) else []
    cast_char_values = str(row['cast_char_values']).split(',') if not pd.isnull(row['cast_char_values']) else []
    cast_credit_id_values = str(row['cast_credit_id_values']).split(',') if not pd.isnull(row['cast_credit_id_values']) else []
    cast_gender = str(row['cast_gender']).split(',') if not pd.isnull(row['cast_gender']) else []
    cast_cast_id = str(row['cast_cast_id']).split(',') if not pd.isnull(row['cast_cast_id']) else []
    cast_name_values = str(row['cast_name_values']).split(',') if not pd.isnull(row['cast_name_values']) else []
    cast_order = str(row['cast_order']).split(',') if not pd.isnull(row['cast_order']) else []
    cast_profile_path = str(row['cast_profile_path']).split(',') if not pd.isnull(row['cast_profile_path']) else []
    rows = []
    for cast_id_values, cast_char_values,cast_credit_id_values,cast_gender,cast_cast_id,cast_name_values,cast_order,cast_profile_path in zip(cast_id_values, cast_char_values,cast_credit_id_values,cast_gender,cast_cast_id,cast_name_values,cast_order,cast_profile_path):
        rows.append([id_val, cast_id_values, cast_char_values,cast_credit_id_values,cast_gender,cast_cast_id,cast_name_values,cast_order,cast_profile_path])
    return rows

# Apply the function to each row and flatten the resulting list of lists
new_rows = [row for sublist in df.apply(split_values, axis=1) for row in sublist]

# Create a new DataFrame from the flattened list
new_df = pd.DataFrame(new_rows, columns=['id', 'cast_id_values','cast_char_values','cast_credit_id_values','cast_gender','cast_cast_id','cast_name_values','cast_order','cast_profile_path'])

# Export the DataFrame to a new CSV file
new_df.to_csv(r'C:\Users\ADMIN\Desktop\SJSU\SEM1\DB Analytics\Moviedataset\cast5.csv', index=False)

CREW

In [18]:
import pandas as pd

# Load CSV file into a DataFrame
df = pd.read_csv(r"C:\Users\ADMIN\Desktop\SJSU\SEM1\DB Analytics\Moviedataset\crew.csv")
df.head()

      id                                               crew
0    862  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...
1   8844  [{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...
2  15602  [{'credit_id': '52fe466a9251416c75077a89', 'de...
3  31357  [{'credit_id': '52fe44779251416c91011acb', 'de...
4  11862  [{'credit_id': '52fe44959251416c75039ed7', 'de...

In [19]:
df['crew'].head()

0    [{'credit_id': '52fe4284c3a36847f8024f49', 'de...
1    [{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...
2    [{'credit_id': '52fe466a9251416c75077a89', 'de...
3    [{'credit_id': '52fe44779251416c91011acb', 'de...
4    [{'credit_id': '52fe44959251416c75039ed7', 'de...
Name: crew, dtype: object

In [20]:

# Function to extract values from JSON formatted column for crew column
def extract_values_crew(json_str):
    try:
        data_list = ast.literal_eval(json_str)
        #df['crew'] = df['crew'].apply(ast.literal_eval)
        crew_credit_id_list = [item['credit_id'] for item in data_list]
        #print(crew_credit_id_list)
        department_list = [item['department'] for item in data_list]
        gender_list = [item['gender'] for item in data_list]
        crew_cast_id_list = [item['id'] for item in data_list]
        job_list = [item['job'] for item in data_list]
        name_list = [item['name'] for item in data_list]
        profile_path_list = [item['profile_path'] for item in data_list]
        return ','.join(map(str, crew_credit_id_list)), ','.join(map(str, department_list)), ','.join(map(str, gender_list)), ','.join(map(str, crew_cast_id_list)), ','.join(map(str, job_list)), ','.join(map(str, name_list)), ','.join(map(str, profile_path_list))
        

    except:
        return None,None,None,None,None,None,None

# Apply the function to each row of the DataFrame
df[['crew_credit_id_list', 'department_list', 'gender_list', 'crew_cast_id_list', 'job_list', 'name_list', 'profile_path_list']]= df['crew'].apply(lambda x: pd.Series(extract_values_crew(x))) #if x else pd.Series([None] * 8))

# Drop the original JSON formatted column
df.drop(columns=['crew'], inplace=True)


# Write the DataFrame to a new CSV file
df.to_csv(r'C:C:\Users\ADMIN\Desktop\SJSU\SEM1\DB Analytics\Moviedataset\crew1.csv', index=False)

In [21]:
import pandas as pd
import numpy as np

# Read the CSV file
df = pd.read_csv(r'C:\Users\ADMIN\Desktop\SJSU\SEM1\DB Analytics\Moviedataset\crew1.csv')

# Function to split values in a cell and create new rows
def split_values(row):
    id_val = row['id']
    crew_credit_id_list = str(row['crew_credit_id_list']).split(',') if not pd.isnull(row['crew_credit_id_list']) else []
    department_list = str(row['department_list']).split(',') if not pd.isnull(row['department_list']) else []
    gender_list = str(row['gender_list']).split(',') if not pd.isnull(row['gender_list']) else []
    crew_cast_id_list = str(row['crew_cast_id_list']).split(',') if not pd.isnull(row['crew_cast_id_list']) else []
    job_list = str(row['job_list']).split(',') if not pd.isnull(row['job_list']) else []
    name_list = str(row['name_list']).split(',') if not pd.isnull(row['name_list']) else []
    profile_path_list = str(row['profile_path_list']).split(',') if not pd.isnull(row['profile_path_list']) else []
    rows = []
    for crew_credit_id_list, department_list,gender_list,crew_cast_id_list,job_list,name_list,profile_path_list in zip(crew_credit_id_list, department_list,gender_list,crew_cast_id_list,job_list,name_list,profile_path_list):
        rows.append([id_val, crew_credit_id_list, department_list,gender_list,crew_cast_id_list,job_list,name_list,profile_path_list])
    return rows

# Apply the function to each row and flatten the resulting list of lists
new_rows = [row for sublist in df.apply(split_values, axis=1) for row in sublist]

# Create a new DataFrame from the flattened list
new_df = pd.DataFrame(new_rows, columns=['id', 'crew_credit_id_list','department_list','gender_list','crew_cast_id_list','job_list','name_list','profile_path_list '])

# Export the DataFrame to a new CSV file
new_df.to_csv(r'C:\Users\ADMIN\Desktop\SJSU\SEM1\DB Analytics\Moviedataset\crew4.csv', index=False)