In [1]:
import pandas as pd

# Load CSV file into a DataFrame
df = pd.read_csv(r"C:\Users\ADMIN\Desktop\SJSU\SEM1\DB Analytics\Moviedataset\keywords.csv")
df.head()

      id                                           keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

In [2]:
df['keywords'].head()

0    [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1    [{'id': 10090, 'name': 'board game'}, {'id': 1...
2    [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3    [{'id': 818, 'name': 'based on novel'}, {'id':...
4    [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...
Name: keywords, dtype: object

In [3]:
import pandas as pd
import ast


# Function to extract values from JSON formatted column
def extract_values(json_str):
    try:
        data_list = ast.literal_eval(json_str)
        id_list = [item['id'] for item in data_list]
        name_list = [item['name'] for item in data_list]
        return ','.join(map(str, id_list)), ','.join(map(str, name_list))
    except:
        return None, None

# Apply the function to each row of the DataFrame
df[['id_values', 'name_values']] = df['keywords'].apply(lambda x: pd.Series(extract_values(x)))

# Drop the original JSON formatted column
df.drop(columns=['keywords'], inplace=True)

# Write the DataFrame to a new CSV file
df.to_csv(r'C:\Users\ADMIN\SJSU\SEM1\DB Analytics\Moviedataset\keywords1.csv', index=False)

In [1]:
import pandas as pd
import numpy as np

# Read the CSV file
df = pd.read_csv(r'C:\Users\ADMIN\Desktop\SJSU\SEM1\DB Analytics\Moviedataset\keywords1.csv')

# Function to split values in a cell and create new rows
def split_values(row):
    id_val = row['id']
    id_values = str(row['id_values']).split(',') if not pd.isnull(row['id_values']) else []
    name_values = str(row['name_values']).split(',') if not pd.isnull(row['name_values']) else []
    rows = []
    for id_value, name_value in zip(id_values, name_values):
        rows.append([id_val, id_value, name_value])
    return rows

# Apply the function to each row and flatten the resulting list of lists
new_rows = [row for sublist in df.apply(split_values, axis=1) for row in sublist]

# Create a new DataFrame from the flattened list
new_df = pd.DataFrame(new_rows, columns=['id', 'id_values', 'name_values'])

# Export the DataFrame to a new CSV file
new_df.to_csv(r'C:\Users\ADMIN\Desktop\SJSU\SEM1\DB Analytics\Moviedataset\keyword2.csv', index=False)