In [2]:
pip install mysqlclient

Collecting mysqlclient
  Downloading mysqlclient-2.2.4-cp311-cp311-win_amd64.whl.metadata (4.6 kB)
Downloading mysqlclient-2.2.4-cp311-cp311-win_amd64.whl (203 kB)
   ---------------------------------------- 0.0/203.2 kB ? eta -:--:--
   -- ------------------------------------- 10.2/203.2 kB ? eta -:--:--
   ---------------- ----------------------- 81.9/203.2 kB 1.2 MB/s eta 0:00:01
   -------------------------------------- - 194.6/203.2 kB 2.0 MB/s eta 0:00:01
   ---------------------------------------- 203.2/203.2 kB 1.8 MB/s eta 0:00:00
Installing collected packages: mysqlclient
Successfully installed mysqlclient-2.2.4
Note: you may need to restart the kernel to use updated packages.

Keyword

In [3]:
import pandas as pd
from sqlalchemy import create_engine,types

# Read CSV file into DataFrame
df = pd.read_csv(r'C:\Users\ADMIN\Desktop\SJSU\DB Analytics\moviedataset\keywords.csv')

# Connect to MySQL database
engine = create_engine('mysql://root:#Panda13@127.0.0.1/moviedb',pool_recycle=3600)

# Use pd.to_sql() to replace/update the table in Oracle
df.to_sql('keywords', con=engine, schema='moviedb', if_exists='append', index=False)

19956

CAST

In [39]:

# Read CSV file into DataFrame
df = pd.read_csv(r'C:\Users\ADMIN\Desktop\SJSU\DB Analytics\moviedataset\cast.csv')

# Connect to MySQL database
engine = create_engine('mysql://root:#Panda13@127.0.0.1/moviedb',pool_recycle=3600)

# Use pd.to_sql() to replace/update the table in Oracle
df.to_sql('cast', con=engine, schema='moviedb', if_exists='append', index=False)


# Close connection
engine.dispose()

PERSON

In [15]:

# Read CSV file into DataFrame
df = pd.read_csv(r'C:\Users\ADMIN\Desktop\SJSU\DB Analytics\moviedataset\person.csv')

# Connect to MySQL database
engine = create_engine('mysql://root:#Panda13@127.0.0.1/moviedb',pool_recycle=3600)

# Use pd.to_sql() to replace/update the table in Oracle
df.to_sql('person', con=engine, schema='moviedb', if_exists='append', index=False)


# Close connection
engine.dispose()

CREW

In [38]:
# Read CSV file into DataFrame
df = pd.read_csv(r'C:\Users\ADMIN\Desktop\SJSU\DB Analytics\moviedataset\crew.csv')

# Connect to MySQL database
engine = create_engine('mysql://root:#Panda13@127.0.0.1/moviedb',pool_recycle=3600)


# Use pd.to_sql() to replace/update the table in Oracle
df.to_sql('crew', con=engine, schema='moviedb', if_exists='append', index=False)


# Close connection
engine.dispose()

MOVIE METADATA

In [13]:
# Read CSV file into DataFrame
df = pd.read_csv(r'C:\Users\ADMIN\Desktop\SJSU\DB Analytics\moviedataset\movie_metadata.csv')

# Define a function to parse dates
def parse_date(date_str):
    try:
        return pd.to_datetime(date_str, format='%d-%m-%Y', dayfirst=True)
    except ValueError:
        # If parsing fails, try a different format or handle the exception as needed
        return pd.to_datetime(date_str, errors='coerce')

# Apply the parse_date function to the 'release_date' column
df['release_date'] = df['release_date'].apply(parse_date)

# Convert the date column back to string in "yyyy-mm-dd" format
df['release_date'] = df['release_date'].dt.strftime('%Y-%m-%d')


# Connect to MySQL database
engine = create_engine('mysql://root:#Panda13@127.0.0.1/moviedb',pool_recycle=3600)


# Use pd.to_sql() to replace/update the table in Oracle
df.to_sql('movie_metadata', con=engine, schema='moviedb', if_exists='append', index=False)


# Close connection
engine.dispose()

SPOKEN LANGUAGES

In [19]:
# Read CSV file into DataFrame
df = pd.read_csv(r'C:\Users\ADMIN\Desktop\SJSU\DB Analytics\moviedataset\spoken_languages.csv')

# Connect to MySQL database
engine = create_engine('mysql://root:#Panda13@127.0.0.1/moviedb',pool_recycle=3600)


# Use pd.to_sql() to replace/update the table in Oracle
df.to_sql('spoken_languages', con=engine, schema='moviedb', if_exists='append', index=False)


# Close connection
engine.dispose()

PRODUCTION COUNTRIES

In [20]:

# Read CSV file into DataFrame
df = pd.read_csv(r'C:\Users\ADMIN\Desktop\SJSU\DB Analytics\moviedataset\production_countries.csv')

# Connect to MySQL database
engine = create_engine('mysql://root:#Panda13@127.0.0.1/moviedb',pool_recycle=3600)


# Use pd.to_sql() to replace/update the table in Oracle
df.to_sql('production_countries', con=engine, schema='moviedb', if_exists='append', index=False)


# Close connection
engine.dispose()

PRODUCTION COMPANIES

In [21]:

# Read CSV file into DataFrame
df = pd.read_csv(r'C:\Users\ADMIN\Desktop\SJSU\DB Analytics\moviedataset\production_companies.csv')

# Connect to MySQL database
engine = create_engine('mysql://root:#Panda13@127.0.0.1/moviedb',pool_recycle=3600)


# Use pd.to_sql() to replace/update the table in Oracle
df.to_sql('production_companies', con=engine, schema='moviedb', if_exists='append', index=False)


# Close connection
engine.dispose()

GENRES

In [23]:

# Read CSV file into DataFrame
df = pd.read_csv(r'C:\Users\ADMIN\Desktop\SJSU\DB Analytics\moviedataset\genres.csv')

# Connect to MySQL database
engine = create_engine('mysql://root:#Panda13@127.0.0.1/moviedb',pool_recycle=3600)


# Use pd.to_sql() to replace/update the table in Oracle
df.to_sql('genres', con=engine, schema='moviedb', if_exists='append', index=False)


# Close connection
engine.dispose()

BELONGS_TO_COLLECTION

In [24]:
# Read CSV file into DataFrame
df = pd.read_csv(r'C:\Users\ADMIN\Desktop\SJSU\DB Analytics\moviedataset\belongs_to_collection.csv')

# Connect to MySQL database
engine = create_engine('mysql://root:#Panda13@127.0.0.1/moviedb',pool_recycle=3600)


# Use pd.to_sql() to replace/update the table in Oracle
df.to_sql('belongs_to_collection', con=engine, schema='moviedb', if_exists='append', index=False)


# Close connection
engine.dispose()

LINKS

In [43]:



# Read CSV file into DataFrame
df = pd.read_csv(r'C:\Users\ADMIN\Desktop\SJSU\DB Analytics\moviedataset\links.csv')

# Connect to MySQL database
engine = create_engine('mysql://root:#Panda13@127.0.0.1/moviedb',pool_recycle=3600)


# Use pd.to_sql() to replace/update the table in Oracle
df.to_sql('links', con=engine, schema='moviedb', if_exists='append', index=False)


# Close connection
engine.dispose()

RATINGS

In [52]:

# Read CSV file into DataFrame
df = pd.read_csv(r'C:\Users\ADMIN\Desktop\SJSU\DB Analytics\moviedataset\ratings.csv')


# Connect to MySQL database
engine = create_engine('mysql://root:#Panda13@127.0.0.1/moviedb',pool_recycle=3600)


# Use pd.to_sql() to replace/update the table in Oracle
df.to_sql('ratings', con=engine, schema='moviedb', if_exists='append', index=False)


# Close connection
engine.dispose()

COLLECTION MOVIE CONNECTOR

In [29]:
# Read CSV file into DataFrame
df = pd.read_csv(r'C:\Users\ADMIN\Desktop\SJSU\DB Analytics\moviedataset\collection_movie_connector.csv')

# Connect to MySQL database
engine = create_engine('mysql://root:#Panda13@127.0.0.1/moviedb',pool_recycle=3600)


# Use pd.to_sql() to replace/update the table in Oracle
df.to_sql('collection_movie_connector', con=engine, schema='moviedb', if_exists='append', index=False)


# Close connection
engine.dispose()

GENRES MOVIE CONNECTOR

In [30]:
# Read CSV file into DataFrame
df = pd.read_csv(r'C:\Users\ADMIN\Desktop\SJSU\DB Analytics\moviedataset\genres_movie_connector.csv')

# Connect to MySQL database
engine = create_engine('mysql://root:#Panda13@127.0.0.1/moviedb',pool_recycle=3600)


# Use pd.to_sql() to replace/update the table in Oracle
df.to_sql('genres_movies_connector', con=engine, schema='moviedb', if_exists='append', index=False)


# Close connection
engine.dispose()

KEYWORDS MOVIE CONNECTOR

In [31]:
# Read CSV file into DataFrame
df = pd.read_csv(r'C:\Users\ADMIN\Desktop\SJSU\DB Analytics\moviedataset\keywords_movie_connector.csv')

# Connect to MySQL database
engine = create_engine('mysql://root:#Panda13@127.0.0.1/moviedb',pool_recycle=3600)


# Use pd.to_sql() to replace/update the table in Oracle
df.to_sql('keywords_movie_connector', con=engine, schema='moviedb', if_exists='append', index=False)


# Close connection
engine.dispose()

LANGUAGES MOVIE CONNECTOR

In [32]:
# Read CSV file into DataFrame
df = pd.read_csv(r'C:\Users\ADMIN\Desktop\SJSU\DB Analytics\moviedataset\languages_movie_connector.csv')

# Connect to MySQL database
engine = create_engine('mysql://root:#Panda13@127.0.0.1/moviedb',pool_recycle=3600)


# Use pd.to_sql() to replace/update the table in Oracle
df.to_sql('languages_movie_connector', con=engine, schema='moviedb', if_exists='append', index=False)


# Close connection
engine.dispose()

Production Companies Movie Connector

In [33]:
# Read CSV file into DataFrame
df = pd.read_csv(r'C:\Users\ADMIN\Desktop\SJSU\DB Analytics\moviedataset\production_companies_movie_connector.csv')

# Connect to MySQL database
engine = create_engine('mysql://root:#Panda13@127.0.0.1/moviedb',pool_recycle=3600)


# Use pd.to_sql() to replace/update the table in Oracle
df.to_sql('production_companies_movie_connector', con=engine, schema='moviedb', if_exists='append', index=False)


# Close connection
engine.dispose()

Production Countries Movie Connector

In [34]:

# Read CSV file into DataFrame
df = pd.read_csv(r'C:\Users\ADMIN\Desktop\SJSU\DB Analytics\moviedataset\production_countries_movie_connector.csv')

# Connect to MySQL database
engine = create_engine('mysql://root:#Panda13@127.0.0.1/moviedb',pool_recycle=3600)


# Use pd.to_sql() to replace/update the table in Oracle
df.to_sql('production_countries_movie_connector', con=engine, schema='moviedb', if_exists='append', index=False)


# Close connection
engine.dispose()